#root {
  background: url(https://images.saymedia-content.com/.image/t_share/MTc4NzM1OTc4MzE0MzQzOTM1/how-to-create-cool-website-backgrounds-the-ultimate-guide.png);
  background-position: center;
  background-repeat: repeat;
  background-color: #05192d;
}
